@font-face {
    font-family: 'monsieur la doulaise';
    src: url(../fonts/monsieur-la-doulaise/MonsieurLaDoulaise-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.back{
    background: linear-gradient(190deg, rgba(161, 0, 0, 0.299), rgba(255,0,0,0) 40%),
            linear-gradient(127deg, rgba(84, 0, 0, 0.692), rgba(0,255,0,0) 40%),
            linear-gradient(336deg, rgba(255, 212, 212, 0.861), rgb(255, 242, 242) 70.71%);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0; 
}


.awning{
    background-image:url('pics/Opera\ Instantané_2025-01-14_231741_fr.pinterest.com\ \(2\).png') ;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size:118%;
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    position: fixed;
    /* background-color: yellowgreen; */
    top: 0;
}

.label{
    bottom: 0;
    width: 100%;
    height: 100px;
    /* background-color: yellowgreen; */
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* align-content: space-around; */
}

.logo{
    background-image: url(pics/461882331_1582203242715181_3736405560774483017_n.png);
    background-repeat: no-repeat;
    width: 133px;
    height: 40px;
    background-size: 100%;
    text-indent: -9999999999px;
    z-index: 5;
    /* background-color: rgb(75, 106, 14); */
}

.browsing{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    width: 99%;
    margin-top: -17px;
    /* background-color: brown; */
}

.browsing *{
    height: 50px;
    width: 50px;
    /* background-color: rgb(102, 127, 48); */
    margin: 0 30px 0 30px;
    border-radius: 50%;
    
}

.nav{
    background-image: url(pics/image\ \(5\).png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 50%;
}

.search{
    background-image: url(pics/image.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 50%;
}

.cart{
    background-image: url(pics/imagefgh.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 50%;
}

.user{
    background-image: url(pics/3cae079ca0b9e55ec6bfc1b358c9b1e2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}


.mm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}


.container{
    background-color: rgba(230, 230, 230, 0.288);
    height: auto;
    width: auto;
    margin: 10px ;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(110, 0, 0, 0.316);
}

.title{
    width: auto;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0 20px 0;
}

.ti{
    height: auto;
    width: auto;
    font-family: 'monsieur la doulaise';
    font-size: 70px;
    color: rgb(100,16,11);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.✦{
    font-size: 40px;
    margin: 10px;
}

.desc{
    font-size: 25px;
    font-style:oblique;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    width: 90%;
}

.filter,.menu{
    border: 1px solid black;
    border-radius:5px ;
    margin: 10px;
}

.filter {
    width: 200px;
    height: auto; /* or auto */
    background: transparent;
    clip-path: path("M20,0 H180 A20,20 0 0 1 200,20 V580 A20,20 0 0 1 180,600 H20 A20,20 0 0 1 0,580 V20 A20,20 0 0 1 20,0 Z");
    /* clip-path: path("M0,0 H180 A20,20 0 0 0 200,20 V580 A20,20 0 0 0 180,600 H0 V0 Z"); */
  }
  
.filter::before{
    content: '';
    background-color: rgba(220, 220, 220, 0);
    height: 20px;
    width: 15px;
    position: absolute;
    border-radius:0 3px 50% 3px;
    border-bottom: 1px  solid black;
    border-right: 1px  solid black;
    margin: -1px 0 0 -1px;
}

.menu{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.menu *{
    margin: 5px;
    border-radius:5px ;
}

.item{
    height: auto ;
    width: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* background-color: yellowgreen; */
}

.pic{
    background-color: yellowgreen;
    height: 170px;
    width: auto;
}

.info{
    background-color: violet;
    height:65px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.itemname{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 20px;
    color: black;
}



footer{
    height: 150px;
    width: 100%;
    background-color: rgb(100, 16, 11);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: aqua; */
}

.footer ul{
    text-align: left;
}

.footer li{
    list-style-type: none;
}

.footer a{
    text-decoration: none;
    color: white;
}

.menu a{
    text-decoration: none;
    color: black;
}
